<div class="container-fluid">

<div class="col-md-12 row">
<div class="col-md-4">
<h1>Services example</h1>
<div ng-controller="ServiceController">
<label for="username">
Type in a GitHub username
</label>
<input type="text"
ng-model="username"
placeholder="Enter a GitHub username" />
<ul>
<li ng-repeat="event in events">

{{ event.actor.login }} {{ event.repo.name }}
</li>
</ul>
</div>


</div>
<div class="col-md-4">


</div>
<div class="col-md-4"></div>
</div>


</div>